/.RData
/.Rhistory
/3DWireframe&Level.R
/copied
/CREATEandSORT DATA.R
/customers-100.csv
/customers-100.csv.xlsx
/data1.csv
/DescisionTreesProject.R
/evenOdd.R
/example.csv
/examplemtcarr.R
/factorial.R
/fibonacci.R
/fizzBuzz.R
/functions.R
/hg11.csv
/hg11.txt
/mtcars.R
/partB1.R
/partB2.R
/pieChart.R
/practiceR.R
/program1.R
/program2.R
/R-Report.pdf
/session4.ipynb
/volcanoWireframe.R